<template>
 <div id="app">
   <navbar v-scroll-spy-active  :section="section"></navbar>
   <intro style="overflow: hidden" id="home"></intro>
   <div  v-scroll-spy="{data: 'section'}" >
     <about id="about"></about>
     <projects id="projects"></projects>
     <feedback id="contact"></feedback>
   </div>


 </div>
</template>

<script>
  import Navbar from '../components/navbar.vue';
  import intro from '../components/intro.vue';
  import about from '../components/aboutUs.vue';
  import Projects from '../components/Projects.vue';
  import Feedback from '../components/Feedback.vue';

    export default {
        components: {
            Navbar,
            intro,
            about,
            Projects,
            Feedback

        },

        data: function () {
            return {
              section: 0,

            }
        },
        methods: {}

    }
</script>

<style >
  /*fonts*/
  @font-face {
    font-family: NunitoRegular;
    src: url('../assets/fonts/Nunito-Regular.ttf');
  }

  @font-face {
    font-family: NunitoMedium;
    src: url('../assets/fonts/Nunito-Medium.ttf');
  }
  @font-face {
    font-family: NunitoSemiBold;
    src: url('../assets/fonts/Nunito-Black.ttf');
  }
  #app {
    font-family: NunitoRegular;
    background-color: #FCFDFF;

  }

</style>
