<template>
  <section class="section">


    <div class="hero">
      <div id="left-rectangles">
        <img style="height: 10vw; position:absolute; bottom: -5vw " src="../../Rectangle.svg"/>
        <img style="height: 8vw; position:absolute; left: 70vw; bottom: 15vw" src="../../Rectangle.svg"/>

      </div>
      <div id="right-rectangles">
        <img style="height: 12vw; position:absolute; top: 3vw; right: 0;" src="../../Rectangle.svg"/>
      </div>


      <div class="hero-head">
        <div class="container">
          <div class="intro column">
            <h2 class="title"> About us </h2>
            <p class="subtitle">Present about us to the world <br> with Make it simple</p>
          </div>
        </div>

      </div>
      <div class="hero-body">
        <div class="container" style="align-items: center">
          <youtube :player-width='width'  :video-id="videoId"   :player-vars="{autoplay: 0}"></youtube>
        </div>
      </div>
    </div>

  </section>

</template>

<script>
  import VueYouTubeEmbed from 'vue-youtube-embed'

  export default {
    components: {},

    data: function () {
      return {
        videoId: 'watch?v=g-Flcuozsug',
        width: 0,

      }
    },
    methods: {
      handleSize () {
        const intViewportWidth = window.innerWidth;
        var newWidth = 60* intViewportWidth / 100;
        this.width = newWidth;
      },
      ready (player) {
        this.player = player
      },
      playing (player) {
        // The player is playing a video.
      },
      change () {
        // when you change the value, the player will also change.
        // If you would like to change `playerVars`, please change it before you change `videoId`.
        // If `playerVars.autoplay` is 1, `loadVideoById` will be called.
        // If `playerVars.autoplay` is 0, `cueVideoById` will be called.
        this.videoId = 'another video id'
      },
      stop () {
        this.player.stopVideo()
      },
      pause () {
        this.player.pauseVideo()
      }
    },
    mounted() {
      this.videoId = this.$youtube.getIdFromURL('https://www.youtube.com/watch?v=g-Flcuozsug');

      const intViewportWidth = window.innerWidth;
      var newWidth = 60* intViewportWidth / 100;
      this.width = newWidth;

       window.addEventListener('resize', this.handleSize);
      },
    destroyed () {
      window.removeEventListener('resize', this.handleSize);
    }
  }
</script>

<style scoped>
  .hero {
    text-align: center;
  }
  .hero-head {
    margin-top: 5em;
  }
  .title{
    padding-bottom: 0.75em;
    color:#4B587A;
  }
  .subtitle {
    color:#4B587A;
  }
  .hero-body {
    margin-top: -2em;
  }
  #left-rectangles {
    height: 20vw;
    width: 20vw;
    position:absolute;
    left: -10vw;
    background: url('../../Rectangle.svg') no-repeat top right;
    background-size: contain;
  }
  #right-rectangles {
    height: 27vw;
    width: 27vw;
    position:absolute;
    right: 0;
    background: url('../../Rectangle.svg') no-repeat top right;
    background-size: contain;
    margin-top: -1vw;
  }
</style>
