<template>
  <section class="section">
    <div class="hero">
      <div class="hero-head">
        <div class="container">
          <h2 class="title"> Feedback </h2>
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-4">
              <div class="card">
                <div class="card-content">
                  <p class="">
                    Exceeds normal output standards, the quality of work is impressive and are easy to work with.
                  </p>
                </div>
                <footer class="card-footer">
                  <div class="card-footer-item">

                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img class="round" src="../../2.jpg" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4">Justinas Puodžius</p>
                        <p class="subtitle is-6">Lead Designer at Interhostas</p>
                      </div>
                    </div>

                  </div>
                </footer>
              </div>
            </div>
            <div class="column is-4">
              <div class="card">
                <div class="card-content">
                  <p class="">
                    Consistently meets all deadlines ,prepares meeting agendas that are concise and time-saving , demonstrate an ability to transfer vision into execution.                  </p>
                </div>
                <footer class="card-footer">
                  <div class="card-footer-item">

                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img class="round" src="../../0.jpeg" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4">Povilas Žvaliauskas</p>
                        <p class="subtitle is-6">CEO of IcoProfit</p>
                      </div>
                    </div>

                  </div>
                </footer>
              </div>
            </div>
            <div class="column is-4">
              <div class="card">
                <div class="card-content">
                  <p class="">
                    Effectively solves problems rather than symptoms, are skilled in proposing optional solutions, consistently exceed performance goals.
                  </p>
                </div>
                <footer class="card-footer">
                  <div class="card-footer-item">

                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img class="round" src="../../1.jpg" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="title is-4">Tadas Brusokas</p>
                        <p class="subtitle is-6">Freelance web developer</p>
                      </div>
                    </div>

                  </div>
                </footer>
              </div>
            </div>
          </div>
        </div>
        <div class="container" style="padding-top: 2rem">
          <label class="label is-medium has-text-left">Contact with us</label>
          <div class="columns is-multiline">
            <div class="column is-4">
              <div class="field has-text-left">
                <div class="control">
                  <input class="input is-medium" type="email" placeholder="Name">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-medium" type="email" placeholder="Email">
                </div>
              </div>

              <div  class="field">
                <div class="control">
                  <input class=" is-medium input " type="email" placeholder="Phone">
                </div>
              </div>
            </div>
            <div class="column is-8">
              <div class="field bigheight">
                <div class="control bigheight">
                  <textarea class="textarea bigheight is-medium" placeholder="Message"></textarea>
                </div>
              </div>
            </div>
            <button  class="button is-primary is-rounded is-large">
              <span class="is-medium">
                Send message
              </span>
            </button>
          </div>
        </div>
      </div>

      <div class="hero-footer">
        <span class="is-size-7">
          © COPYRIGHT MAKEITSIMPLE.LT
        </span>
      </div>
    </div>

  </section>

</template>

<script>
  export default {
    components: {},

    data: function () {
      return {}
    },
    methods: {}

  }
</script>

<style scoped>
  .hero {
    text-align: center;
  }
  .card {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 1em;
    background-color: transparent;
  }

  .card-content {
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 30px;
    background-color: white;

  }
  .card-header, .card-footer {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
    background-color: transparent;
  }


  .hero-head {
    margin-bottom: 3em;
  }

  .title {
    color: #4B587A;
  }
  .label {
    color: #4B587A;

  }
  p {
    color: #4B587A;
  }

  .subtitle {
    color: #C0C0C2;

  }
  .hero-body {
    margin-top: -2em;
  }
  .bigheight {
    height: 100%;
  }
  .input {
    border-radius: 100px;
    padding-left: 1.5rem;
  }
  .control {

  }
  .textarea {
    border-radius: 1.5rem;
    padding-left: 1.5rem;

  }
  .hero-footer {
    color: #C6C6D4;
  }
  .is-primary {
    margin-left: 1rem;
    background-color: #BBDAEF;
  }
  @media only screen and (max-width: 769px) {
    .hero-head{
      margin-top: -2rem;
    }
  }
  .round {
    border-radius: 100px;
  }
</style>
