<template>
<div class="section">
  <div class="hero">
    <div id="phoneBackground">
      <div id="phone">
      </div>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <div class="card">
              <header class="card-header">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Comfortable Apps</p>
                    <p class="subtitle is-5">For Business</p>
                  </div>
                </div>
              </header>
              <div class="card-content">
                <div class="content is-grey is-size-6 has-text-left ">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed nulla sodales, semper urna ut, blandit nisl. Donec in vestibulum odio. Vestibulum porta ullamcorper felis nec scelerisque. Ut blandit a nunc quis finibus. Nulla facilisi. Pellentesque mauris augue, fringilla et varius at, rhoncus sed enim. Nullam
                </div>
              </div>
              <footer class="card-footer">
                <a v-scroll-to="'#contact'" class="button is-blue is-size-3 is-rounded"><span class="is-size-5">Learn More</span></a>
              </footer>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <header class="card-header">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Individual useful apps</p>
                    <p class="subtitle is-5">Personal use</p>
                  </div>
                </div>
              </header>
              <div class="card-content">
                <div class="content is-grey is-size-6 has-text-left ">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed nulla sodales, semper urna ut, blandit nisl. Donec in vestibulum odio. Vestibulum porta ullamcorper felis nec scelerisque. Ut blandit a nunc quis finibus. Nulla facilisi. Pellentesque mauris augue, fringilla et varius at, rhoncus sed enim. Nullam
                </div>
              </div>
              <footer class="card-footer">
                <a v-scroll-to="'#contact'" class="button is-blue is-size-3 is-rounded"><span class="is-size-5">Learn More</span></a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</template>

<script>
    export default {
        components: {},

        data: function () {
            return {}
        },
        methods: {}

    }
</script>

<style scoped>
  #phone {
    width: 32vw;
    height: 32vw;
    background: url('../assets/Phone.svg') no-repeat top right;
    background-size: contain;
    padding-top: 0;
    padding-bottom: 0;
    bottom: 15vw;
    left: 2vw;
    position: absolute;
    z-index: 55;
    overflow: hidden
  }
  #phoneBackground {
    z-index: 55;
    width: 60vw;
    height: 60vw;
    background: url('../../stuff.svg') no-repeat top right;
    background-size: contain;
    top: -10vw;
    right: -18vw;
    position: absolute;
    overflow: hidden
  }
  .card {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: NunitoMedium;
    margin-right: 1em;
  }
  .card-content {
    padding-left: 0;
  }
  p.title {
    font-weight: inherit;
    color: #5C658B;

  }
  p.subtitle {
    color: #8FAEF6;
  }
  .card-header, .card-footer {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: none;
  }
  .is-blue {
    background-color: #95BFFF;
    border-color: transparent;
    color: white;
    box-shadow:  0 0 0.05em 0.05em #B4CCEF;
  }
  .is-grey {
    color: #9A9DAB;
  }
  .hero-body {
    padding-top: 10rem;
  }
  @media only screen and (max-width: 769px) {
    #phoneBackground{
      width: 85vw;
      height: 85vw;
      bottom: 5vw;
      left:  35vw;
      overflow: hidden;

    }
    #phone{
      padding-top: 0;
      padding-bottom: 0;
      bottom: 20vw;
      left: 5vw;
      width: 50vw;
      height: 50vw;
    }
  }
</style>
