<template>
  <div class="navbar-fixed" :class="{'shrink': isSmall}">
    <div class="container">
      <nav class="navbar" >
        <div class="navbar-brand">
          <a id="logo" class="navbar-item"  v-scroll-to="'#home'">
            <img :class="{'shrinkimg': isSmall , 'bigImg': !isSmall}" src="../assets/makeitsimple.png"/>
          </a>
          <div class="navbar-burger" :class="{'is-active': mobileMenuClicked}" @click="mobileMenuClicked = !mobileMenuClicked">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" :class="{'is-active': mobileMenuClicked}">
          <div class="navbar-start" v-show="mobileMenuClicked">
            <a  v-for="button in buttons" :class="[{'is-active':section === button.num , 'is-size-5': !isSmall, 'is-size-6': isSmall}]" class="navbar-item" v-scroll-to="'#'+ button.id">
              <span class=""> {{ button.text}} </span>
            </a>

          </div>

        </div>
      </nav>
    </div>
  </div>


</template>
<script>
  export default {
    data () {
      return {
        buttons: [
          {
            text: 'About Us',
            id: 'about',
            num: 0
          },
          {
            text: 'Projects',
            id: 'projects',
            num: 1
          },
          {
            text: 'Contact Us',
            id: 'contact',
            num: 2
          }
        ],
        mobileMenuClicked: true,
        isSmall : false,
      }
    },
    methods: {
      handleScroll: function(e) {
        var currentScrollPosition = window.scrollY;
        if (currentScrollPosition > 80) {
          this.isSmall = true;
        }
        else
        {
          this.isSmall = false;
        }
        this.scrollPosition = currentScrollPosition;
      }
    },
    props: [
      'section'
    ],
    created () {
      const intViewportWidth = window.innerWidth;
      if(intViewportWidth < 1008) {
        this.mobileMenuClicked = false;
      };
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
      window.removeEventListener('scroll', this.handleScroll);
    }
  }
</script>

<style scoped>

  .navbar-item.is-tab.is-active{
    border-bottom-color: transparent ;
  }
  .navbar-item.is-tab:hover {
    background-color: transparent;
    border-bottom-color: transparent ;
  }
  .navbar-fixed {
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #FCFDFF;
    padding-top: 30px;
    font-family: NunitoSemiBold;
  }

  .navbar {
    background-color: transparent;
  }
  #logo {
    padding-right: 4rem;
 }
  .navbar-item img {
    /*max-height: 5rem;*/
  }
  .navbar-item {
    color: #B4B9CC;
  }
  a.navbar-item.is-active, a.navbar-link.is-active
  {
    color: #5C658B;
  }
  .shrink {
    padding-top: 0;
    font-family: NunitoRegular;
  }
  .shrinkimg {
    max-height: 2rem;
  }
  .bigImg {
    max-height: 5rem
  }
  @media only screen and (max-width: 769px) {
    .bigImg {
      max-height: 3rem;
    }
  }
</style>
