<template>
  <section class="section">
    <div class="hero">
      <div class="hero-head">
        <div class="container">
            <h2 class="title"> Projects </h2>
        </div>
      </div>
      <div class="hero-body">
        <div class="container has-text-left">
          <div class="columns is-vertical-aligned" style="margin-bottom: 10vw">
            <div class="column is-3 is-3-mobile">
              <figure class="">
                <div class="phoneCircleLeft is-vertical-aligned">
                  <img src="../../Picture2.png" alt="Žalgiris App" class="phone-item">
                  <img style="height: 28vw; position: absolute"  src="../../circleInner.svg"/>
                </div>
              </figure>
            </div>
            <div class="column is-6  is-offset-2 is-offset-3-fullhd">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div class="titleCircle">
                      <img class="titleInnerCircle" src="../../circleInner.svg"/>
                    </div>
                    <h1 class="title is-3">
                      Foodout.lt App Optimizations
                    </h1>
                  </div>
                </div>
              </div>
              <h2 class="subtitle is-6 is-4-mobile has-text-right">
                A great app in which support we had an opportunity to work with.
                Our part in this project was app optimizations and push notification integration from their API.
              </h2>
            </div>
          </div>
        </div>
        <div class="container has-text-right">
          <div class="columns is-vertical-aligned" style="margin-bottom: 10vw">
            <div class="column is-6 is-offset-2 is-offset-3-fullhd">
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div class="titleCircle">
                      <img class="titleInnerCircle" style="margin-right: 10vw" src="../../circleInner.svg"/>
                    </div>
                    <h1 class="title is-3">
                      BC Žalgiris App
                    </h1>
                  </div>
                </div>
              </div>
              <h2 class="subtitle is-6 is-4-mobile has-text-left">
                An app created virtually from zero, everything from the design, user interface was crafted carefully with our team.
                The app not only uses real-time data, but also is able to scale per thousands of users already.
              </h2>
            </div>
            <div class="column is-3 is-3-mobile">
              <figure class="">
                <div class="phoneCircleRight is-vertical-aligned">
                  <img src="../../Picture1.png" alt="Žalgiris App" class="phone-item">
                  <img style="height: 28vw; position: absolute; "  src="../../circleInner.svg"/>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</template>

<script>
  export default {
    components: {},

    data: function () {
      return {}
    },
    methods: {},

  }
</script>

<style scoped>
  .hero {
    text-align: center;
  }
  .hero-head {
    margin-top: 5em;
    margin-bottom: 3em;
  }
  .title{
    padding-bottom: 0.75em;
    color:#4B587A;
  }
  .subtitle {
    color:#4B587A;
    padding-top: 2rem;

  }
  .hero-body {
    margin-top: -2em;
  }
  .titleCircle {
    height: 2.5rem;
    width: 2.5rem;
    background: url('../../circleOutter.svg') no-repeat top right;
    background-size: contain;
    margin-top: -1.5rem;
    margin-right: 1rem;
  }
  .phoneCircleLeft {
    height: 35vw;
    width: 35vw;
    background: url('../../circleOutter.svg') no-repeat top right;
    background-size: contain;
    justify-content: center;
  }
  .phoneCircleRight {
    height: 35vw;
    width: 35vw;
    background: url('../../circleOutter.svg') no-repeat top right;
    background-size: contain;
    justify-content: center;
  }
  .is-vertical-aligned {
    align-items: center;
    display: flex;
  }
  .phone-item {
    z-index: 1;
    width: 50vw;
    position: absolute;
  }
  .titleInnerCircle {
    height: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  @media only screen and (max-width: 769px) {
    .hero-head {
      margin-top: -3em;
    }
    .subtitle{
      padding-top: 0;
    }
    .is-6 {
      font-size: 0.75rem;
    }
    .is-3 {
      font-size:1.25rem ;
    }
    .phoneCircleLeft{
      height: 25vw;
      width: 25vw;
      margin-left: -10vw;
    }
    .phoneCircleRight{
      height: 25vw;
      width: 25vw;
      margin-right: -10vw;
    }
    .titleCircle {
      height: 4vw;
      width: 4vw;
      justify-content: center;
      align-items: center;
      margin-top: -4vw;
      margin-right: 1vw;
    }
    .titleInnerCircle {
      height: 3vw;
      margin-left: 0.5vw;
      margin-top: 0.5vw;
    }
    .columns {
      padding-bottom: 2rem;
    }
  }
</style>
